<section class="admin-products-new">

  <header class="page-header">
    <h1>Admin &raquo; New Category</h1>
  </header>

  <div class="well">
    <%= link_to 'All Categories', [:admin, :categories], class: 'btn btn-info' %>
  </div>

 <%= form_for :category do |form| %>
  <p>
      <div class="form-group">
        <%= form.label :New_Category %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </p>
    <p>
      <%= form.submit class: 'btn btn-primary'%>
  </p>
  <% end %>
</section>
